body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /* The image used */
  background-image: url("https://wallpapers.com/images/high/monochrome-dark-city-7ws46k7xo1gcptjo.webp");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

h1 {
    margin-top: 50px;
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.button {
    padding: 20px 40px;
    font-size: 24px;
    cursor: pointer;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #4CAF50, #2196F3);
    color: white;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.button:hover {
    background: linear-gradient(45deg, #45a049, #1976D2);
}
